<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Submit Article</title>
    </head
    <body>
        {% include 'header.html' %}
        {% comment %} {{msg}}
        
    <div id="DivTwo">
        {% comment %} <form action="/show">
            <input type="submit" value="Show Records">
        </form> {% endcomment %} 
    <center>
        <body bgcolor = "lightblue">
            <br>
            <br>
            <br>
            <h1>Submit Your Article</h1>
            <form action="/submitarticle" method="post">
            {% csrf_token %}
            <p> Enter Author name: </p>
            <p><input type="text" name="author" required/></p>
            <p> Enter Article Title: </p>
            <p><input type="text" name="title" required/></p>
            <p> Enter Article Content: </p>
            <textarea type="text" name="content" rows="8" cols="50" required></textarea>
            <p> Select Today's Date: </p>
            <input type="date" name="date" required>
            <p><input type="submit" value="submit" /></p>
            </form>
        </body>
    </center>
</html>